@model List<Employee>
@using day_1.DAL.Entities;



    <table id="myTable" class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
               {<tr>
             <th scope="row">@item.ID</th>

                <td>@item.Name</td>
                <td>@item.Age</td>
                           
            </tr>
               }
        </tbody>
    </table>

